.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #a6bfba;
}

.modelCard {
    margin: 20px;
    min-width: 300px;
    display: grid;
    border-radius: 25px;
    background: linear-gradient(145deg, #95aca7, #b2ccc7);
    box-shadow:  12px 12px 30px #8da29e, -12px -12px 30px #bfdcd6;
    overflow: hidden;
    font-size: 1rem
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
}

.dataSize {
    position:relative;
    top: 20px;
    width: 5rem;
}

.anchor {
    padding: 50px;
    text-decoration: none;
    color: #364434;
}

.tray {
    border-radius: 10px;
    box-shadow:  5px 5px 5px #8da29e inset,
    -5px -5px 5px #bfdcd6 inset;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: calc(100% - 10px);
}

.thumbnail {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow:  5px 5px 5px #8da29e,
    -5px -5px 5px #b0cec8;
}

@media (max-width:767px) {
    .anchor {
        padding: 30px;
    }
}